body{
    background-color: rgba(44, 146, 146, 0.747);
}
.box{
    width: 800px;
    height: 50%;
    margin-top: 10%;
    background-image: linear-gradient(to left ,rgba(24, 170, 180, 0) ,rgba(24, 170, 180, 7) );
    color: white;
    text-align: center;
    padding-top: 7px;
    box-shadow: 5px 5px 5px gray;
    position: relative;
    top: 120px;
    right: -100px;

}

.box2{
    width:800px;
    height: 50vh;
    background-color: rgba(123, 203, 221, 3);
    box-shadow: 5px 5px 5px gray;
    align-items: center;
    overflow: hidden;
    position: relative;
    top:120px;
    right: -100px;
}

form label{
    color: white;
    
}
.form-con{
    position: relative;
    left: 25%;
}
.btn{
    border: 1px solid white;
    color: rgba(75, 73, 73, 1);
    background-color: white;
    width: 20%;

}
.btn-pos{
    position: relative;
    left: 15%;
    border-radius: 8px;
    padding: 10px;
}
.but-pos{
    padding-top: 10px;
    position: relative;
    left: 3%;
}

@media screen and (min-width:1190px) {
    .box{
        position: relative;
        right: -250px;
    }
    .box2{
        position: relative;
        right: -250px;
    }
}
@media screen and (max-width:990px) {
    
    .box{
        position: relative;
        right: -35px;
    }
    .box2{
        position: relative;
        right: -35px;
    }
}