body{
    background-color: rgba(44, 146, 146, 0.747);
}
.box{
    width: 800px;
    height: 50%;
    margin-top: 10%;
    background-image: linear-gradient(to left ,rgba(24, 170, 180, 0) ,rgba(24, 170, 180, 7) );
    color: white;
    text-align: center;
    padding-top: 7px;
    box-shadow: 5px 5px 5px gray;
    position: relative;
    top: 120px;
    right: -100px;

}



.box2{
    width:800px;
    height: 60vh;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    top:120px;
    right: -100px;
}

form label{
    color: white;
    
}
.form-con{
    position: relative;
    left: 25%;
    top: 30px;
}
.form-con1{
    position: relative;
    left: 25%;
    top: 100px;
}
.btn{
    border: 1px solid darkgray;
    color: rgba(75, 73, 73, 1);
    background-color: white;
    width: 20%;

}
.btn-pos{
    position: relative;
    left: 15%;
    border-radius: 8px;
    padding: 10px;
}
.but-pos{
    padding-top: 10px;
    position: relative;
    left: 3%;
}

@media screen and (min-width:1190px) {
    .box{
        position: relative;
        right: -250px;
    }
    .box2{
        position: relative;
        right: -250px;
    }
}
@media screen and (max-width:990px) {
    
    .box{
        position: relative;
        right: -35px;
    }
    .box2{
        position: relative;
        right: -35px;
    }
}
h5{
    font-weight: lighter;
    position: relative;
    top: 25px;
    left: -10px;
}

.plus{
    position: relative;
    right: -50px;
    top: 15px;
    width: 80px;
}

.icon-search{
    width: 25px;
    position: relative;
    top: -32px;
    right: -190px;
}

.search{
    box-shadow: 3px 3px 5px gray;
    border-top: none;
}

.profile{
    width: 130px;
    height: 80px;
}
.box3{
    width: 500px;
    height: 60px;
    background-color:rgba(205, 239, 246, 0.33);
    border-radius: 15px;
    position: relative;
    right: -105px;
    margin-bottom: 10px;
}
.text{
    position: relative;
    top: 15px;
    left: 6px;
}
.delete{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.logout{
    width: 20px;
    height: 40px;
    position: fixed;
    top: 750px;
    right: 124px;
}